<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form action="#"
      th:action="@{/admin/updateUser/(id=${user.id})}"
      th:object="${user}"
      method="post">
    <label for="first_name">First name</label>
    <input type="text" th:field="*{firstName}" id="first_name"
           placeholder="First name">
    <p th:if="${#fields.hasErrors('firstName')}"
       th:errors="*{firstName}"></p>
    <label for="last_name">Last name</label>
    <input type="text" th:field="*{lastName}" id="last_name"
           placeholder="Last Name">
    <p th:if="${#fields.hasErrors('lastName')}"
       th:errors="*{lastName}"></p>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username"
           placeholder="Username">
    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password"
           placeholder="Password">
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    <label for="roles">Roles</label>
    <input type="text" th:field="*{roles}" id="roles"
           placeholder="Roles">
    <p th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></p>
    <input type="submit" value="Edit User">
</form>
<p><a href="/admin">Back to admin panel</a></p>
<p><a href="/logout">Logout</a></p>
</body>
</html>
