<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<body>
<h2>Users</h2>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
        <td><a th:href="@{/editUser/(id=${user.id})}">Edit</a></td>
        <td><a th:href="@{/deleteUser/(id=${user.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<p><a href="/addUser">Add a new user</a></p>
</body>
</html>
